@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng</h1>
</div>
<br />
<div class="text-center">
    <h5>Thành viên:</h5>
    <p>NGUYỄN HIỂN GIA BẢO – PS21736</p>
    <p>VÕ PHI KHANH – PS25294</p>
    <p>NGUYỄN TẤN CƯỜNG – PS22721</p>
</div>
